# Nextjs Introducction Course

/.vs
/Nextjs/node_modules
/Nextjs/.next
/Nextjs/.env



# Nextjs Production Grade
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/NextjsProductionGrade/node_modules
/NextjsProductionGrade/.pnp
/NextjsProductionGrade/.pnp.js

# testing
/NextjsProductionGrade/coverage

# next.js
/NextjsProductionGrade/.next/
/NextjsProductionGrade/out/

# production
/NextjsProductionGrade/build

# misc
/NextjsProductionGrade/.DS_Store
/NextjsProductionGrade/*.pem

# debug
/NextjsProductionGrade/npm-debug.log*
/NextjsProductionGrade/yarn-debug.log*
/NextjsProductionGrade/yarn-error.log*

# local env files
/NextjsProductionGrade/.env.local
/NextjsProductionGrade/.env.development.local
/NextjsProductionGrade/.env.test.local
/NextjsProductionGrade/.env.production.local

# vercel
/NextjsProductionGrade/.vercel

# lock versions
/NextjsProductionGrade/package-lock.json
/NextjsProductionGrade/yarn.lock

#Testing React with Jest
/TestingReactWithJest/color-button/node_modules
/TestingReactWithJest/color-button/package-lock.json
/TestingReactWithJest/color-button/yarn.lock
/TestingReactWithJest/color-button/.vscode
/TestingReactWithJest/color-button/.eslintcache

/TestingReactWithJest/sundaes-on-demand/node_modules
/TestingReactWithJest/sundaes-on-demand/package-lock.json
/TestingReactWithJest/sundaes-on-demand/yarn.lock
/TestingReactWithJest/sundaes-on-demand/.vscode
/TestingReactWithJest/sundaes-on-demand/.eslintcache

/TestingReactWithJest/sundae-server/node_modules
/TestingReactWithJest/sundae-server/package-lock.json
/TestingReactWithJest/sundae-server/.vscode

# Component Patterns
/ReactComponentPatterns/node_modules
/ReactComponentPatterns/dist
/ReactComponentPatterns/.DS_Store 

